@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root{
    --claro: #E4F2EE;
    --azul2: #CCD9D5;
    --Vinho: #732626;
    --azulDark: #283040;
    --dark: #1D2126;
    --fontPrincipal:'Afacad Flux', sans-serif;
}
.fade-inx {
    opacity: 0;
    transform: translatex(50%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-iny{
    opacity: 0;
    transform: translatey(50%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-inx.visible, .fade-iny.visible {
    opacity: 1;
    transform: translateY(0);
}
@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.pulsar {
    animation: pulsar 5s infinite;
}    

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--fontPrincipal);
}
main{
    display: flex;
    flex-direction: column;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--dark);
    color: white;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
}
nav a{
    margin: 10px 20px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: var(--claro);
    transition: box-shadow 0.2s ease-in-out;
}
nav a:hover{
    color: white;
    background-color: rgba(115, 38, 38, 0.1);
    border-radius: 5%;
    padding: 5px;
    box-shadow: 0 0 10px rgba(145, 145, 142, 0.8), 0 0 20px rgba(148, 148, 146, 0.6); 
}
.page1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh; 
    background: linear-gradient(to top, var(--azul2), var(--azulDark) );
}

.page1 div {
    align-items: center;
    padding-left: 150px;
}
.page1 div h1{
    font-size: 100px;
    margin: 0;
    color: var(--claro);
}
.page1 div h2{
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--azul2);
}
.page1 div p{
    font-size: 30px;
    margin: 0;
    color: var(--Vinho);
}

.glow-effect-imagemPripal {
    background: var(--azulDark);
    border-radius: 500px;
    filter: blur(100px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Certifique-se que a altura cobre toda a imagem */
    z-index: 0;
}
.page1 .imagemPincipal{
    position: relative;
}
.page1 .imagemPincipal img{
    width: 500px;
    position: relative;
    z-index: 1;
}


.page2{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background-color: var(--azul2);
    padding-top: 100px; 
}
.page2 div h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.page2  p{
    font-size: 2rem;
    width: 50%;
}
.page2 .txt1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}
.page2 .txt2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 0;
    width: 80%;
}
.page2  img{
    width: 15%;
}

.page3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, var(--claro), var(--azul2) );
    padding-top: 100px;
}
.page3 .projetos-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 20px;
}
.page3 .projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 470px;
    margin: 20px;
    background-color: var(--azul2);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;

}
.page3 h2{
    font-size: 50px;
}
.page3 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark);
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0;
}
.page3 img{
    width: 100%;
    height: 400px;
}
.page3 span{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 20PX;
}
.page3 a{
    text-decoration: none;
    color: var(--claro);
    background-color: var(--azulDark);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: transform 0.2s;
}
.page3 a:hover{
    transform: scale(1.1);
    border-radius: 0;
    color: white;
}
.page3 .icons-container{
    margin-top: 10px;
    justify-content: space-evenly;
}
.page3 .icons{
    width: 45px;
    height: 45px;
}
.page3 .icons:hover{
    transform: scale(1.2);
}

.page4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--claro);
    padding-top: 100px;
}
.page4 div h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 30px;
}
.page4 .Learned{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 0;
    width: 80%;
    border-radius: 20px;
}
.page4 .Learned h3{
    font-size: 40px;
    color: var(--marrom-dark);
    padding-left: 30px;
}
.page4 .Learned p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Vinho);
    font-size: 22px;
}
.page4 .Studying{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    width: 80%;
}
.page4 .Studying h3{
    font-size: 40px;
    color: var(--marrom-dark);
    padding-left: 30px;
}
.page4 .Studying p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    color: var(--Vinho);
}
.page4 img{
    width: 100px;
    padding-top: 30px;
}
#taiwildImg{
    padding: 0;
    width: 125px;   
}
.page4 p:hover{
    transform: scale(1.2);
}

.page5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, white, var(--claro) );
    padding-top: 200px;
    padding-bottom: 50px;
}
.page5 h2{
    font-size: 50px;
}
.page5 div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.page5 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 20px;
}
.page5 img{
    width: 70px;
}
.page5 h3{
    color: var(--azulDark);
    margin: 0;
    font-size: 20px;
}
.page5 p{
    color: var(--Vinho);
    margin: 0;
    font-size: 18px;
}
.page5 img:hover{
    transform: scale(1.2);
}

@media (max-width: 1750px){
    .page1 .imagemPincipal{
        display: none;
    }
    .page1 div {
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1600px){
    .fade-inx {
        opacity: 0;
        transform: translatex(20%);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }
    .fade-iny{
        opacity: 0;
        transform: translatey(20%);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }
    .page1 div {
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1000px){
    .fade-inx {
        opacity: 0;
        transform: translatex(10%);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }
    .fade-iny{
        opacity: 0;
        transform: translatey(10%);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }
    .page2, .page3, .page4, .page5{
        padding-top: 50px;
    }
    .page4 .Studying h3{
        font-size: 30px;
    }
    .page4 .Studying p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        color: var(--Vinho);
    }
    .page4 .Learned h3{
        font-size: 30px;
    }
    .page4 .Learned p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        color: var(--Vinho);
    }
    .page4 img{
        width: 50px;
        padding-top: 30px;
    }
    #taiwildImg{
        padding: 0;
        width: 80px;   
    }
    .page5 div{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .page4 .Studying {
        flex-direction: column;
    }
    .page4 .Learned {
        flex-direction: column;
    }
}

